body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* botón hamburguesa */
#menuBtn {
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

/* menú oculto */
nav {
  display: none;
  flex-direction: column;
}

nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

/* cuando está activo */
nav.open {
  display: flex;
}

/* GRID */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

img {
  width: 100%;
}

main {
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  border-top: 1px solid #000;
  padding: 10px;
}